<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form</title>
        <link rel="stylesheet" href ="./static/form.css">
        <!-- <link rel="stylesheet" href ="./static/FormCSS.css"> -->
         <link rel="icon" href="static/woc.png">
    </head>
    <body>
        <!-- <div class="logo" style="background: black;">
            <img src="../static/woc.png" style="width: 60px;">
            <h2>WINTER OF CODE</h2>
        </div>
        <section>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="container">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <h2>Owner Details.</h2>
                    <form action="/form" method="POST">
                        <div class="inputbox">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        </div>
                        <div class="inputbox">
                            <input class="form-control" id="code" name="code" placeholder="Enter Cert-Code" type="text">
                        </div>
                        <div class="inputbox">
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter your email" aria-describedby="emailHelp">
                        </div>

                        <div class="inputbox">
                            <input type="submit" id ="submit" value="Send" >
                        </div>
                    </form>
                </div>
            </div>
        </section> -->



        <img id="logo" src="logo.png" alt="">
        <!-- <img src="https://cdn.dribbble.com/users/77121/screenshots/17351288/media/5b4277bf11b4c0911f06e20d651f97e6.gif" alt=""> -->
        <div class="container" style="z-index: 1;">
           <div class="main" style="z-index: 2;"> <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Log in</h1>
    
            <div class="email">
             <!-- <p><strong>Email <br> </strong>  </p> -->
             <p>Need an account? <a href="#">  <span class="signup" style="color: rgb(94, 94, 221);padding: 42px;">      Sign Up</span></a> </p> 
            </div>
            <input type="text" placeholder="E-mail">
            <br>
     
             <!-- <div class="password">
                
             <p><strong>Password <i class="fa fa-key"></i> </strong></p> <i id="show" class="fa fa-eye" aria-hidden="true"> Show</i> <br>
             
    
            </div> -->
    
    
            <div class="wrapper">
                <p><strong>Password<i class="fa fa-key"></i> </strong></p> <i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()">Show</i><br>
                
            
            </div>
            <input type="Password" placeholder="Password" id="password"!important> 
             <!-- <input type="text"> -->
     <br><br>
             <button>Log in</button>
     </div>
        </div>
        <script>
            var state= false;
            function toggle(){
                if(state){
                    document.getElementById("password").setAttribute("type","password");
                    document.getElementById("eye").style.color='#7a797e';
                    state = false;
                }
                else{
                    document.getElementById("password").setAttribute("type","text");
                    document.getElementById("eye").style.color='#5887ef';
                    state = true;
                }
            }
        </script>



    </body>
</html>
